
/* #ecosystem-green:#39b54a, energy-yellow:#ffc60b, hydro-blue: #00aeef */
/* Align the zindex 
field{}
=>Canvas  (Default:[3,-3])
canvas:{activate,inactivte[2,-2/-3]}  image:{activate:60,inactivte(default):[2,-2/-3]]}
=>Field  (Default:[-1,1])
  tab/buttons:{activate(default:1),inactivte} leader-line:{activate,inactivte(default:-1)}
  when dropdown pops up, the z-index of the dropdown is 3
  */

/* loader */
.loader{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: aliceblue;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 9999;
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

.loader::after{
  content: "";
  width: 100px;
  height: 100px;
  border:15px solid rgba(219, 219, 219, 0.678);
  border-top-color: green;
  border-radius: 50%;
  animation:loading 0.75s ease infinite;
}

@keyframes loading{
  0%{
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 5px;  /* vertical scrollbar */
  height: 5px; /* horizontal scrollbar */
}

/* Track of the scrollbar */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle (or thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background:rgba(30, 30, 30, 0.1)
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background:  #f1f1f1;
} */

body{
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 30px;  
  background-color: white;
  /* background-color:aliceblue; */
  font-size: 24px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  align-self: center;
  position: absolute;
}

/* Pane */
#tabField {
  display: flex;
  flex-direction: row;
}

#tabEnv{  
  /* background-color: aliceblue; */
  padding: 0px 10px;
  border: none;
  color:black;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.1;
  vertical-align:middle;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 500;
  overflow-y: scroll;
}

#tabField>.anno {
  margin: 0 auto;
  font-size: auto;
  vertical-align: middle;
}

#tabFunction>.button, #tabFuncMenu>.button{  
  background-color: white;
  /* background-color: aliceblue; */
  border: none;
  color:grey;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.1;
  vertical-align:middle;
  text-align: center;
  font-weight: 300;
}


/* field */
#tabLeft, #tabRight,#tabMiddle{  
  position: absolute;
  z-index: 1;
}

#tabInspire{position: absolute;
  z-index:0 ;}

canvas {
  border: 2px solid black;
  position: absolute;
}


button .tag  {
  position: absolute;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.1;
  vertical-align:middle;
  text-align: center;
}

.leader-line
    { position: absolute;
      z-index: -1;}

.dropdown-menu{
  position: absolute;
  left: 0;
  top:calc(100%-0.5rem);
  width:auto;
  background-color: white;
  align-items: left;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  opacity: 0;
  pointer-events: none;
  transform:translateY(-10px);
  transition: opacity .15s ease-in-out, tansform .15s ease-in-out;
  text-align: left;
}

.dropdown-menu>.dropdown-item{
  line-height: 2;
  color:rgb(30,30,30);
}



/* form */
#tabForm{
  position: absolute;
  top: 0;
  left: 0;
  width: 1408px;
  height: 60px;
}

.form{    
  position:absolute;
  top: 0px;
  padding-top: 5px;
  left: 0px;
  width: 1408px;
  font-size: 18px;
  font-weight: 500;
  height: 45px;
  resize: none;
  overflow-y:scroll;
  z-index: 10;
  /* font-family: Helvetica, Arial, sans-serif; */
}




.btn, #tabEnv>.button{    
  /* font-family:  Helvetica, Arial, sans-serif; */
  background-color: rgba(240,240,240,.8);
  position:absolute;
  top: 0px;
  left: 1430px;
  width: 150px;
  height: 30px;
  border-style: hidden;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}




.h1{    
  padding-top: 0;
}

.h2{    
  text-align: justify;
}   


.li{
  line-height: 120%;
  overflow: hidden;
}

*, *::after,*::before {

  box-sizing: border-box;
}

.modal{
  position:fixed;
  top:97%;
  left:97%;
  transform:translate(-97%,-97%) scale(0);
  /* transition:200ms ease-in-out; */
  border:1px solid white;
  border-radius: 10px;
  z-index: 10;
  background-color:rgba(255,255,255,.8);
  width:360px;
  height:300px;
  max-height: 97%;
  max-width:80%;  
  overflow-y: hidden;
}

#handle {
  width: 100%;
  cursor: ns-resize;
  height: 5px;
  background-color: rgba(255,255,255,.8);
}


.modal.active{
  transform:translate(-97%,-97%) scale(1);
}
.modal-header{
  padding:10px 15px;
  display:flex;
  justify-content:space-between;
  align-items:center;

}

.modal-header .title{

  resize:vertical;
}


textarea {
  padding: 1px 10px;
  width:80%;
  color: black;
  font-weight: 100;
  border-width: 0px;
  background-color:rgba(240, 240, 240, 0.3);
  border-radius: 5px;
  /* border: 0.5px solid #ccc; */
}

textarea:focus {
  outline:  rgba(240,240,240,.8) solid 10px;
  border-width: 0px;
  background-color:rgba(240, 240, 240, 0.3);
  border-radius: 5px;
  border: 0.5px solid black;
}
textarea::placeholder {
    color: grey;
}

.modal-header .close-button{
  cursor:pointer;
  border:none;
  outline:none;
  background:none;


  font-weight: bold;
}



.modal-body{
  position: absolute;
  padding:0px 15px;
  font-size:14px;
  height:auto;
  box-sizing: border-box;
  height: 78%;
  max-width:100%;  

}

#overlay{
  position:fixed;
  /* transition:200ms ease-in-out; */
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  z-index:5;
  display:none;
  pointer-events: none;
}

#overlay.active{
  opacity:1;
  pointer-events: all;
}
