
body{
  margin: 30px;
  background-color: white;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto", Helvetica, Arial, sans-serif

}

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  padding: 10px;
  margin: auto;
  float: left;

}

.left {
  margin-left: 0%;
  width: 25%;

}
.right {
  margin-left: 0%;
  width: 25%;

}
.middle {
  margin-left: 0%;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*  */
.responsive {
  width: 100%;
  height: auto;
}

.form{    
  align-self: center;
  width: 50%;
  height: 50px;
}

.btn{    

  align-self: center;

}

.h1{    
  padding-top: 0;

}

.h2{    

  text-align: justify;
}   
.env{    
  font-weight: 500;

  text-align: justify;
  width: 50%;
  margin: auto;
  padding: 10px;
}   
.li{
  line-height: 120%;

  overflow: hidden;
}
