<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sherbot</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"  />

</head>


<body>

  <form method="POST">
    <div class=form>
    {{ temp_form.hidden_tag() }}
    <p>{{ temp_form.env_description() }}</p>
    <p>{{ temp_form.submit() }}</p>
  </div>
  </form>

  {% if canvas %}
  <h2>{{env}}</h2>

  <div class="row">
      <div class="column left"  style="background-color:#aaa;">
          <h3 id="input">Input</h3>
          <div>{% for item in input %}
            <li id={{item}} style="color: {{color[item]}};">{{item}}</li>      
          {% endfor %}</div>
      </div>
      <div class="column middle" >
         <img src={{canvas}}  alt="">
      </div>
      <div class="column right"  style="background-color:#ccc;">
          <h3 id="output">Output</h3>
          <div>{% for item in output %}
            <li id={{item}} style="color: {{color[item]}};">{{item}}</li>
          {% endfor %}</div>
      </div>
  </div>
  <script src="{{ url_for('static', filename='node_modules/leader-line/leader-line.min.js') }}" async></script> 

  {% endif %}
</body>

