<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta author="Yuxin Yang">
  <title>Sherbot</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"  />
  <script src="{{ url_for('static', filename='node_modules/leader-line/leader-line.min.js') }}" async></script>
</head>


<body>

  <form method="POST">
    <div>
    {{ temp_form.hidden_tag() }}
    <p>{{ temp_form.env_description(class='form')}}</p>
    <p>{{ temp_form.submit(class='btn') }}</p>
  </div>
  </form>

  {% if canvas %}
  <div class="env">{{env}}</div>

  <div class="row">
    <div class="column left" >
      <h2>Input</h2>
      <div id="input" class="li"></div>
    </div>
    <div class="column middle" >
      <img src={{canvas}} class="responsive" alt="">
    </div>
    <div class="column right" >
      <h2 >Output</h2>
      <div id="output" class="li"></div>
    </div>
  </div>

  {% block javascript %}
  <script type="text/javascript">

    var color={{color | tojson}}
    fetch("{{ url_for('static', filename='flow.json') }}")
      // get the JSON data
      .then(response => response.json())
      // use (display) the JSON data
      .then(data => 
        {for (var key in data){
        let inputLI=document.createElement('div');
        inputLI.id=key;
        inputLI.innerHTML=key;
        inputLI.style.color=color[key];
        document.getElementById('input').appendChild(inputLI);

          for (var i in data[key]){
            let value=data[key][i]
          let outputLI=document.createElement('div');
          outputLI.id=value;
          outputLI.innerHTML=value;
          outputLI.style.color=color[value];
          document.getElementById('output').appendChild(outputLI);
          new LeaderLine(
              document.getElementById(key),
              document.getElementById(data[key][i]),{color: 'black', size: 1}
            );
          }
        }
        }
      );


  </script>
  {% endblock %}
  {% endif %}
</body>


