body{
    background-color: white;
    text-align: left;
    font-family: "Roboto", Helvetica, Arial, sans-serif
}


.column {
    float: left;
    padding: 5px;
    padding-top: 0px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 40%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }